body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 0, 217, 0.354);
    color: aliceblue;
    background-image: url(https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/KUFWIPXROII6ZLAWR67XDFGNPA.jpg);
}

a {
    color: rgb(249, 240, 255);
    background-color: rgb(64, 62, 62);
}

h1,
h2 {
    text-align: center;
}

img {
    border: 5px solid orange;
    padding: 5px;
    height: 250px;
    /* margin: auto;  */
    /* display: block; */
}


li {
    width: fit-content
}

li:hover {
    text-decoration: underline;
    background-color: dimgrey;

}